!!! 5
html
  head
      meta(charset='utf-8')
      title First App With Backbone.js
      meta(name='author', content='lopesgr')

      link(href='/framework/css/bootstrap.min.css', rel='stylesheet')
      // import custom
      link(rel='shortcut icon', href='/img/test.ico')

      script(scr='/framework/js/jquery-1.7.2.min.js')
      script(src='/framework/js/backbone-min.js')
      script(src='/framework/js/bootstrap.min.js')
      script(src='/framework/js/underscore-min.js')
